{% extends 'main/base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<body>
    <header>
        <h1>Welcome, {{ user.username }}!</h1>
        <nav>
            <a href="{% url 'accounts:logout' %}">Logout</a>
        </nav>
    </header>

    <main>
        <h2>User panel</h2>
        <p>This is your personal control panel.</p>

        <section>
            <h3>Profile data</h3>
            <ul>
                <li>Username: {{ user.username }}</li>
                <li>Email: {{ user.email }}</li>
                <li>Date aded: {{ user.date_joined }}</li>
            </ul>
        </section>
    </main>
</body>
{% endblock %}